HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Archivos de log
*.log
logs/

# Compilación de Maven y Gradle
/target/
/build/

# Archivos de configuración de IDE
/.idea/
/*.iml
/.classpath
/.project
/.settings/
/.vscode/

# Archivos compilados
*.class

# Dependencias locales
/lib/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
